<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace=“实现类的全路径”  parameterType="定义参数类型"  resultType="返回值类型"-->
<mapper namespace="com.it.bbs.user.mapper.UserMapper">
    <resultMap id="User" type="com.it.bbs.user.domain.User">
        <id property="id" column="UID"></id>
        <result property="username" column="Username"></result>
        <result property="password" column="Upassword"></result>
        <result property="email" column="Uemail"></result>
        <result property="sex" column="Usex"></result>
        <result property="group" column="Uclass"></result>
        <result property="createTime" column="UcreateTime"></result>
        <result property="status" column="Ustatus"></result>
        <result property="point" column="Upoint"></result>
        <association property="department" column="department"
                     select="com.it.bbs.user.mapper.DepartmentMapper.findDepartment"></association>
    </resultMap>

    <select id="findUser" resultMap="User">
        select * from user
        <where>
            <if test="id!=null and id!='' ">
                and UID=#{id}
            </if>
            <if test="username!=null and username!='' ">
                and username=#{username}
            </if>
            <if test="email!=null and email!='' ">
                and Uemail=#{email}
            </if>
        </where>
    </select>

    <insert id="insertUser">
       INSERT into user values (#{id},#{username},#{password},#{email},#{sex},#{grade},NOW(),0,20,#{deprtmentID})
    </insert>
</mapper>
